@page "/Dashboard"
@inject HttpClient Http
@using Client.Shared
@using Client.Components
@using BackEnd.Services.Data


<PageTitle>DashBoard</PageTitle>
<MudText Typo="Typo.h3" GutterBottom="true">Weather forecast</MudText>
<MudGrid Spacing="10" Class="ma-2" Justify="Justify.SpaceEvenly">
    <MudItem xs="2" lg="2" Style="min-width: 20vh; min-height: 20vh">
        <MudPaper >
            <MudCardContent Class=" justify-center">
                <div style="position: relative;
                              text-align: center;
                              color: white;">
                    <p style="position: absolute;
                                                                                top: 90%;
                                                                                left: 50%;
                                                                                transform: translate(-50%, -50%);
                                                                                color: tomato;
                                                                                font-size: 1.8vh;
                                                                                font-weight: bold">
                        17 °C
                    </p>
                    <TemperatureIcon/>
                </div>

            </MudCardContent>
            <MudCardActions Class="d-flex justify-space-around">
                <MudIconButton Icon="@Icons.Material.Filled.Share" aria-label="share"/>
                <MudIconButton Icon="@Icons.Material.Filled.Info" aria-label="share"/>
            </MudCardActions>
        </MudPaper >
    </MudItem>
    <MudItem xs="2" lg="2"Style="min-width: 20vh; min-height: 20vh">
        <MudCard >
            <MudCardContent Class=" justify-center">
                <WeatherIcon Weather="WeatherCondition.Rainy"/>
            </MudCardContent>
            <MudCardActions Class="d-flex justify-space-around">
                <MudIconButton Icon="@Icons.Material.Filled.Share" aria-label="share"/>
                <MudIconButton Icon="@Icons.Material.Filled.Info" aria-label="share"/>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="2" lg="2" Style="min-width: 20vh; min-height: 20vh">
        <MudCard >
            <MudCardContent Class="justify-center">
                <UvIndexIcon/>
            </MudCardContent>
            <MudCardActions Class="d-flex justify-space-around">
                <MudIconButton Icon="@Icons.Material.Filled.Share" aria-label="share"/>
                <MudIconButton Icon="@Icons.Material.Filled.Info" aria-label="share"/>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="2" lg="2" Style="min-width: 20vh; min-height: 20vh">
        <MudCard >
            <MudCardContent Class=" justify-center">
                <WindIcon/>
            </MudCardContent>
            <MudCardActions Class="d-flex justify-space-around">
                <MudIconButton Icon="@Icons.Material.Filled.Share" aria-label="share"/>
                <MudIconButton Icon="@Icons.Material.Filled.Info" aria-label="share"/>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="2" lg="2" Style="min-width: 20vh; min-height: 20vh">
        <MudCard >
            <MudCardContent Class="justify-center">
                <div style="position: relative;
                                                              text-align: center;
                                                              color: white;">
                    <p style="position: absolute;
                                                                top: 90%;
                                                                left: 50%;
                                                                transform: translate(-50%, -50%);
                                                                color: dodgerblue;
                                                                font-size: 1.8vh;
                                                                font-weight: bold">
                        25 %
                    </p>
                    <HumidityMeasureIcon/>
                </div>

            </MudCardContent>
            <MudCardActions Class="d-flex justify-space-around">
                <MudIconButton Icon="@Icons.Material.Filled.Share" aria-label="share"/>
                <MudIconButton Icon="@Icons.Material.Filled.Info" aria-label="share"/>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="2" lg="2" Style="min-width: 20vh; min-height: 20vh">
        <MudCard >
            <MudCardContent Class="justify-center">
                <div style="position: relative;
                                              text-align: center;
                                              color: white;">
                    <p style="position: absolute;
                                                top: 90%;
                                                left: 50%;
                                                transform: translate(-50%, -50%);
                                                color: dodgerblue;
                                                font-size: 1.8vh;
                                                font-weight: bold">
                        0 ml
                    </p>
                    <RainDropMeasureIcon/>
                </div>

            </MudCardContent>
            <MudCardActions Class="d-flex justify-space-around">
                <MudIconButton Icon="@Icons.Material.Filled.Share" aria-label="share"/>
                <MudIconButton Icon="@Icons.Material.Filled.Info" aria-label="share"/>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem Class="mud-elevation-1 rounded" xs="12">
        <LiveChart/>
        <MudIconButton Icon=@Icons.Material.Filled.AccessTime/>
        <MudIconButton Icon=@Icons.Material.Filled.AccessTime/>
        <MudSelect MultiSelection="true" @bind-Value="value" @bind-SelectedValues="options" T="string" Label="US States" AdornmentIcon="@Icons.Material.Filled.Search" AnchorOrigin="Origin.BottomCenter">
            @foreach (var choich in WeatheChoice)
            {
                <MudSelectItem T="string" Value="@choich">@choich</MudSelectItem>
            }
        </MudSelect>
    </MudItem>

</MudGrid>

@code {
    WeatherData data = new WeatherData();

    private string value { get; set; } = "Nothing selected";
    private IEnumerable<string> options { get; set; }

    private string[] WeatheChoice =
    {
        "Temperature",
        "Humidity",
        "Heat",
        "WindSpeed",
        "WindDirection",
        "Pressure",
        "Day",
        "RainQuantity",
    };

}